<body>

<h1>Another World!</h1>

<button class="home">Go home</button>

{{#each arts}}
    <div data-ID="{{_id}}">
    <p>{{headline}}</p>
    <p>{{summary}}</p>
    <p>{{articleUrl}}</p>
    <textarea id="bodyinput" name="body"></textarea>
    <button data-id="{{_id}}" id="savenote">Save note</button>
    <p>{{note}}</p>
    </div>
    <br>
{{/each}}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/index.js"></script>

</body>